* {
    margin: 0px;
}

.bannerImage {
    object-fit: cover;
    float: right;
    padding-left: 50px;
    width: 400px;
    height: 400px;
}

header {
    background-color: rgb(150,150,150);
}

main {
    background-color: rgb(255,0,0);
}

.banner {
    color: rgb(255,255,255);
    padding: 50px;
    min-height: 400px;
    height: fit-content;
}

.leftAlignedBanner {
    text-align: left;
    background-color: rgb(150,90,150);
}

.rightAlignedBanner {
    text-align: right;
    background-color: rgb(90,150,150);
}

#starBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/starsBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#moonBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/moonBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#asteroidBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/asteroidBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#galaxiesBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/galaxyBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#nebulaBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/nebulaBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#eclipseBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/eclipseBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#blackHoleBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/blackHoleBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

footer {
    padding: 5px;
    background-color: rgb(200,200,200);
}