* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.miniText {
    font-size: 12;
}

hr {
    height: 3px;
    border: none;
    margin: 30px;
    background-color: rgb(100,110,120);
}

img {
    object-fit: cover;
    width: 400px;
    height: 400px;
    outline-style: solid;
    outline-color: rgb(255,255,255);
    outline-width: 1px;
}

.imageSet {
    display: flex;
    justify-content: center;
}

.leftSideImage {
    float: left;
}

.rightSideImage {
    float: right;
}

header {
    background-color: rgb(211,211,211);
}

.banner {
    color: rgb(255,255,255);
    padding: 50px;
    min-height: 400px;
    height: fit-content;
}

.banner p {
    padding: 10px;
}

.leftAlignedBanner {
    text-align: left;
    background-color: rgb(150,90,150);
}

.leftAlignedBanner img {
    margin-left: 20px;
    margin-bottom: 20px;
}

.rightAlignedBanner {
    text-align: right;
    background-color: rgb(90,150,150);
}

.rightAlignedBanner img {
    margin-right: 20px;
    margin-bottom: 20px;
}

#starBanner {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/starsBanner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hideButton {
    text-align: center;
}

footer {
    padding: 50px;

    background-color: rgb(50,60,70);
    color: rgb(100,110,120);

    text-align: center;
    font-weight: bold;
}

footer ul {
    list-style-type: none;
    padding: 0px;
}

.footerTable {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    background-color: rgb(50,60,70);
    color: rgb(100,110,120);
    font-weight: bold;
}

.footerTable tr th {
    width: 25%;
}

.disclaimer {
    position: fixed;
    padding: 10px;
    left: 0px;
    bottom: 0px;
    width: 100%;

    color: rgb(255,255,255);
    background-color: rgb(0,0,0,0.5);

    text-align: left;
}