/* CSS Section for the ----- ENTIRE WEBSITE ----- starts here */
* {
    margin: 0px;
    font-size: 20;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

main {
    background-image: linear-gradient(rgba(70,90,130,0.3), rgba(70,90,130,0.3)), url("images/spaceBackground11.jpg");
}

/* CSS Section for the ----- GENERAL ELEMENTS ----- starts here */
a {
    color: inherit;
}

hr {
    height: 3px;
    border: none;
}

h2 {
    font-size: 80;
}

.miniText {
    margin: 5px;
    font-size: 12;
}

.discoverImage {
    object-fit: cover;
    width: 400px;
    height: 400px;
    outline-style: solid;
    outline-color: rgb(255,255,255);
    outline-width: 1px;
}

.galleryImage {
    object-fit: cover;
    margin: 54px;
    width: 650px;
    height: 650px;

    outline-style: solid;
    outline-color: rgb(255,255,255);
    outline-width: 1px;
}

.imageSet {
    display: flex;
    justify-content: center;
}

header {
    color: rgb(255,255,255);
    background-color: rgb(20,40,80);
}

.banner {
    color: rgb(255,255,255);
    padding: 50px;
    min-height: 400px;
    height: fit-content;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner p {
    padding: 10px;
}

.banner hr {
    margin: 10px;
    margin-bottom: 30px;
    background-color: rgb(255,255,255);
}

.leftAlignedBanner {
    text-align: left;
    background-color: rgb(150,90,150);
}

.leftAlignedBanner img {
    float: right;
    margin-left: 20px;
    margin-bottom: 30px;
}

.rightAlignedBanner {
    text-align: right;
    background-color: rgb(90,150,150);
}

.rightAlignedBanner img {
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

.random {
    padding-top: 30px;
    padding-bottom: 30px;
}

.hideButton {
    text-align: center;
}


/* CSS Section for the ----- DISCOVER UNIQUE BANNER ----- starts here */
#starBanner {
    background-image: linear-gradient(rgba(20,40,80,0.5), rgba(20,40,80,0.5)), url("images/starsBanner.jpg");
}

#moonBanner {
    background-image: linear-gradient(rgba(20,40,80,0.5), rgba(20,40,80,0.5)), url("images/moonBanner.jpg");
}

#asteroidBanner {
    background-image: linear-gradient(rgba(20,40,80,0.5), rgba(20,40,80,0.5)), url("images/asteroidBanner.jpg");
}

#galaxiesBanner {
    background-image: linear-gradient(rgba(20,40,80,0.5), rgba(20,40,80,0.5)), url("images/galaxyBanner.jpg");
}

#nebulaBanner {
    background-image: linear-gradient(rgba(20,40,80,0.5), rgba(20,40,80,0.5)), url("images/nebulaBanner.jpg");
}

#eclipseBanner {
    background-image: linear-gradient(rgba(20,40,80,0.5), rgba(20,40,80,0.5)), url("images/eclipseBanner.jpg");
}

#blackHoleBanner {
    background-image: linear-gradient(rgba(20,40,80,0.5), rgba(20,40,80,0.5)), url("images/blackHoleBanner.jpg");
}

/* CSS Section for the ----- DISCLAIMER ----- starts here */
.disclaimer {
    position: fixed;
    padding: 15px;
    left: 0px;
    bottom: 0px;
    width: 100%;

    color: rgb(255,255,255);
    background-color: rgb(0,0,0,0.5);

    text-align: left;
}

/* CSS Section for the ----- FOOTER ----- starts here */
footer {
    padding: 50px;
    padding-bottom: 80px;

    background-color: rgb(20,40,80);
    color: rgb(70,90,130);

    text-align: center;
    font-weight: bold;
}

footer ul {
    list-style-type: none;
    padding: 0px;
}

.footerTable {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    background-color: inherit;
    color: inherit;
}

.footerTable tr th {
    padding-left: 50px;
    width: 25%;
}

.footerTable tr td {
    vertical-align: top;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 30px;
}

.footerTable tr td ul li {
    padding-bottom: 5px;
}

footer hr {
    margin: 50px;
    background-color: rgb(70,90,130);
}

/* CSS Section for the ----- TITLE PAGE ----- starts here */
#titleBanner {
    color: rgb(255,255,255);
    text-align: center;
    padding-top: 275px;

    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

#titleBanner h1 {
    font-size: 100
}

#titleBanner p {
    margin: 10px;
    font-size: 30;
}

/* CSS Section for the ----- HEADER BANNER ----- starts here */
.headerBanner {
    text-align: center;
    height: 700px;

    background-repeat: no-repeat;
    background-size: cover;
}

#solarSystemHeader {
    background-image: linear-gradient(rgba(20,40,80,0.8), rgba(100,120,160,0.8)), url("images/spaceBackground2.jpg");
}

#discoverHeader {
    background-image: linear-gradient(rgba(20,40,80,0.8), rgba(100,120,160,0.8)), url("images/spaceBackground5.jpg");
}

#galleryHeader {
    background-image: linear-gradient(rgba(20,40,80,0.8), rgba(100,120,160,0.8)), url("images/spaceBackground3.jpg");
}

/* CSS Section for the ----- NAVIGATION ----- starts here */
nav ul {
    overflow: hidden;
    background-color: rgb(20,40,80);
    padding: 0px;
}

nav ul li {
    float: right;
    text-decoration: none;
    font-size: 24;
    padding: 20px 30px;
    list-style-type: none;
}

#pageTitle {
    float: left;
}

nav ul li:hover {
    background-color: rgba(100,120,160,0.8);
}
